{{>header}}


<script>



	function editUser(type, id, user_name) {

		alert(type + ' ' + id)
		let action = ''

		if (type === 'edit') {
			action = '/users/edit/' + id
		}
		else {

			action = '/users/delete/' + id
			if (!confirm('Are you sure you want to save this thing into the database?'))
				return;

		}


		const form = document.createElement('form');
		form.method = 'post';
		form.action = action;

		const hiddenField = document.createElement('input');
		hiddenField.type = 'hidden';
		//hiddenField.name = 'edit';
		hiddenField.value = 'edit';

		form.appendChild(hiddenField);
		document.body.appendChild(form);
		form.submit();

	}

</script>

<!-- Page content -->
<div class="page-content">

	<!-- Main content -->
	<div class="content-wrapper">

		<!-- Inner content -->
		<div class="content-inner">

			<!-- Page header -->
			<div class="page-header">
				<div class="page-header-content container header-elements-md-inline">
					<div class="d-flex">
						<div class="page-title">
							<h4 class="font-weight-semibold">{{title}}</h4>




						</div>
						<a href="#" class="header-elements-toggle text-body d-md-none"><i class="icon-more"></i></a>
					</div>

					<div class="header-elements d-none py-0 mb-3 mb-md-0">
						<button type="button" class="btn btn-light"><i class="icon-printer mr-2"></i> Print</button>
						<button type="button" class="btn btn-primary ml-3"> <i class="icon-file-presentation mr-2"></i>
							Add New User</button>
					</div>
				</div>
			</div>
			<!-- /page header -->


			<!-- Content area -->
			<div class="content container pt-0">

				<!-- Blocks with chart -->

				<!-- /blocks with chart -->





				<!-- Latest orders -->
				<div class="card">
					<div class="card-header d-flex py-0">
						<h6 class="card-title font-weight-semibold py-3">Latest orders</h6>

						<div class="d-inline-flex align-items-center ml-auto">
							<span class="badge badge-pink font-weight-semibold">+ 29 new</span>
							<div class="dropdown ml-2">
								{{!-- <a href="#"
									class="btn btn-outline-light btn-icon btn-sm text-body border-transparent rounded-pill"
									data-toggle="dropdown">
									<i class="icon-more2"></i>
								</a> --}}

								{{!-- <div class="dropdown-menu dropdown-menu-right">
									<a href="#" class="dropdown-item"><i class="icon-file-eye"></i> View report</a>
									<a href="#" class="dropdown-item"><i class="icon-printer"></i> Print report</a>
									<a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> Export report</a>
									<div class="dropdown-divider"></div>
									<a href="#" class="dropdown-item"><i class="icon-cog3"></i> Configure</a>
								</div> --}}
							</div>
						</div>
					</div>

					<div class="table-responsive border-top-0">
						<table class="table text-nowrap">
							<thead>
								<tr>
									<th>Name</th>
									<th>Email</th>
									<th>Password</th>
									<th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i></th>
								</tr>
							</thead>
							<tbody>
								{{#each users_list}}

								<tr>
									<td>
										<div class="d-flex align-items-center">
											<a href="#" class="mr-3">
												<img src="/global_assets/images/brands/klm.svg" class="rounded-circle"
													width="32" height="32" alt="">
											</a>

											<div>
												<a href="#" class="text-body font-weight-semibold">{{this.name}}</a>
												<div class="text-muted font-size-sm">{{this.type}}</div>
											</div>
										</div>
									</td>
									<td>
										{{this.email}}</td>
									<td>{{this.password}}</td>
									<td class="text-center">
										<div class="dropdown">
											<a href="#"
												class="btn btn-outline-light btn-icon btn-sm text-body border-transparent rounded-pill"
												data-toggle="dropdown">
												<i class="icon-menu7"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right">

												<a href="javascript:editUser('edit',{{id}},'{{name}}')" class="dropdown-item"><i
														class="icon-file-eye"></i> Edit</a>

												<a href="javascript:editUser('delete',{{id}},'{{name}}')" class="dropdown-item"><i
														class="icon-file-pdf"></i>
													Delete</a>
												<a href="#" class="dropdown-item"><i class="icon-file-stats"></i>
													Stats</a>
											</div>
										</div>
									</td>
								</tr>
								{{/each}}

							</tbody>
						</table>
					</div>
				</div>
				<!-- /latest orders -->



			</div>
			<!-- /content area -->


			<!-- Footer -->
			<div class="navbar navbar-expand-lg navbar-light">
				<div class="text-center d-lg-none w-100">
					<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse"
						data-target="#navbar-footer">
						<i class="icon-unfold mr-2"></i>
						Footer
					</button>
				</div>

				<div class="navbar-collapse collapse" id="navbar-footer">
					<span class="navbar-text">
						&copy; 2015 - 2018. <a href="#">Limitless Web App Kit</a> by <a
							href="https://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
					</span>

					<ul class="navbar-nav ml-lg-auto">
						<li class="nav-item"><a href="https://kopyov.ticksy.com/" class="navbar-nav-link"
								target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>
						<li class="nav-item"><a href="https://demo.interface.club/limitless/docs/"
								class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a>
						</li>
						<li class="nav-item"><a
								href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov"
								class="navbar-nav-link font-weight-semibold"><span class="text-pink"><i
										class="icon-cart2 mr-2"></i> Purchase</span></a></li>
					</ul>
				</div>
			</div>
			<!-- /footer -->

		</div>
		<!-- /inner content -->

	</div>
	<!-- /main content -->

</div>
<!-- /page content -->


<!-- Notifications -->
<div id="notifications" class="modal modal-right fade" tabindex="-1" aria-modal="true" role="dialog">
	<div class="modal-dialog modal-dialog-scrollable modal-lg">
		<div class="modal-content">
			<div class="modal-header bg-transparent border-0 align-items-center">
				<h5 class="modal-title font-weight-semibold">Notifications</h5>
				<button type="button" class="btn btn-icon btn-light btn-sm border-0 rounded-pill ml-auto"
					data-dismiss="modal"><i class="icon-cross2"></i></button>
			</div>

			<div class="modal-body p-0">
				<div class="bg-light text-muted py-2 px-3">New notifications</div>
				<div class="p-3">
					<div class="d-flex mb-3">
						<a href="#" class="mr-3">
							<img src="/global_assets/images/placeholders/placeholder.jpg" width="36" height="36"
								class="rounded-circle" alt="">
						</a>
						<div class="flex-1">
							<a href="#" class="font-weight-semibold">James</a> has completed the task <a href="#">Submit
								documents</a> from <a href="#">Onboarding</a> list

							<div class="bg-light border rounded p-2 mt-2">
								<label class="custom-control custom-checkbox custom-control-inline mx-1">
									<input type="checkbox" class="custom-control-input" checked disabled>
									<del class="custom-control-label">Submit personal documents</del>
								</label>
							</div>

							<div class="font-size-sm text-muted mt-1">2 hours ago</div>
						</div>
					</div>

					<div class="d-flex mb-3">
						<a href="#" class="mr-3">
							<img src="/global_assets/images/placeholders/placeholder.jpg" width="36" height="36"
								class="rounded-circle" alt="">
						</a>
						<div class="flex-1">
							<a href="#" class="font-weight-semibold">Margo</a> was added to <span
								class="font-weight-semibold">Customer enablement</span> channel by <a href="#">William
								Whitney</a>

							<div class="font-size-sm text-muted mt-1">3 hours ago</div>
						</div>
					</div>

					<div class="d-flex">
						<div class="mr-3">
							<div class="bg-danger-100 text-black rounded-pill">
								<i class="icon-undo position-static p-2"></i>
							</div>
						</div>
						<div class="flex-1">
							Subscription <a href="#">#466573</a> from 10.12.2021 has been cancelled. Refund case <a
								href="#">#4492</a> created

							<div class="font-size-sm text-muted mt-1">4 hours ago</div>
						</div>
					</div>
				</div>

				<div class="bg-light text-muted py-2 px-3">Older notifications</div>
				<div class="p-3">
					<div class="d-flex mb-3">
						<a href="#" class="mr-3">
							<img src="/global_assets/images/placeholders/placeholder.jpg" width="36" height="36"
								class="rounded-circle" alt="">
						</a>
						<div class="flex-1">
							<a href="#" class="font-weight-semibold">Christine</a> commented on your community <a
								href="#">post</a> from 10.12.2021

							<div class="font-size-sm text-muted mt-1">2 days ago</div>
						</div>
					</div>

					<div class="d-flex mb-3">
						<a href="#" class="mr-3">
							<img src="/global_assets/images/placeholders/placeholder.jpg" width="36" height="36"
								class="rounded-circle" alt="">
						</a>
						<div class="flex-1">
							<a href="#" class="font-weight-semibold">Mike</a> added 1 new file(s) to <a href="#">Product
								management</a> project

							<div class="bg-light rounded p-2 mt-2">
								<div class="d-flex align-items-center mx-1">
									<div class="mr-2">
										<i class="icon-file-pdf text-danger icon-2x position-static"></i>
									</div>
									<div class="flex-1">
										new_contract.pdf
										<div class="font-size-sm text-muted">112KB</div>
									</div>
									<div class="ml-2">
										<a href="#"
											class="btn btn-dark-100 text-body btn-icon btn-sm border-transparent rounded-pill">
											<i class="icon-arrow-down8"></i>
										</a>
									</div>
								</div>
							</div>

							<div class="font-size-sm text-muted mt-1">1 day ago</div>
						</div>
					</div>

					<div class="d-flex mb-3">
						<div class="mr-3">
							<div class="bg-success-100 text-black rounded-pill">
								<i class="icon-calendar3 position-static p-2"></i>
							</div>
						</div>
						<div class="flex-1">
							All hands meeting will take place coming Thursday at 13:45. <a href="#">Add to calendar</a>

							<div class="font-size-sm text-muted mt-1">2 days ago</div>
						</div>
					</div>

					<div class="d-flex mb-3">
						<a href="#" class="mr-3">
							<img src="/global_assets/images/placeholders/placeholder.jpg" width="36" height="36"
								class="rounded-circle" alt="">
						</a>
						<div class="flex-1">
							<a href="#" class="font-weight-semibold">Nick</a> requested your feedback and approval in
							support request <a href="#">#458</a>

							<div class="font-size-sm text-muted mt-1">3 days ago</div>
						</div>
					</div>

					<div class="d-flex">
						<div class="mr-3">
							<div class="bg-primary-100 text-black rounded-pill">
								<i class="icon-people position-static p-2"></i>
							</div>
						</div>
						<div class="flex-1">
							<span class="font-weight-semibold">HR department</span> requested you to complete internal
							survey by Friday

							<div class="font-size-sm text-muted mt-1">3 days ago</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /notifications -->

</body>

</html>